@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body{
  font-family: 'Lato', sans-serif;
  color:black;
  min-height:100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; 

} 
body ::before{
  content: "";
  position:fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("../subtle-prism.png") no-repeat center;  
  background-size: cover;
  animation: backgroundZoonAnimate 20s forwards;
}
@keyframes backgroundZoonAnimate{

  from{
    transform :scale(1);
  }
  to{
    transform: scale(1.3);
  }
}
.profile-card {
  box-shadow: 0 18px 160px -60px black;
  border-radius: 50px;
  width: 550px;
  position: relative;
  
  
  /*  acomodar backdrop-filter: blur(90%); */
  backdrop-filter: blur(90%);
  border:2px solid #ffffff40;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap:40px
}


.profile-card__img {
  margin:0 auto;
}
.profile-card__img img{
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
box-shadow: 0 10px 60px -10px rgba(13,28,39,.5);
}

.profile-card__desc{
text-align: center;
display: flex;
flex-direction: column;
gap: 25px;

}

.profile-card__desc h1{
font-size: 2rem;
font-weight: bold;
}
.profile-card__desc h2{
font-size: 17px;
}

.profile-card__info{
  display: flex;
  justify-content: center;
  gap:50px; 
}

.profile-card__social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap; 
}
.profile-card__social a{
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition:  .2s;
  background-color: none;
  
  
  

}

.profile-card__social a:hover{
  transform: scale(1.2)translateY(-5px);
  
} 
.facebook{
  background: linear-gradient(45deg,#3b5998,#0078db);
  box-shadow: 0 4px 30px rgba(43,98,169,0,7);
}
.efect ::before{
  content: "";
  position: absolute;
  height: 55px;
  width: 55px;
  transform-origin:100% 100%;
  background-color: var(--clr);




}

.twitter{
  background: linear-gradient(45deg,#1da1f2,#0e71c8);
  box-shadow: 0 4px 30px rgba(19,127,212,0,7);
}
.instagram{
  background: linear-gradient(45deg,
  #405de6,
  #5851db,
  #833ab4,
  #c13584,
  #e1306c,
  #fd1d1d);
  box-shadow: 0 4px 30px rgba(120,64,190,0.6);
}
.github{
  background:linear-gradient(45deg,#333333,#626b73) ;
  box-shadow: 0 4px 40px rgba(63,65,67,0.6);
}
.whatsapp{
  background:linear-gradient(45deg,#20c997,#94d82d) ;
  box-shadow: 0 4px 40px rgba(32,201,151,0.6);
}


@media screen and (max-width: 768px) {
  .profile-card {
    width: auto;
  } 
  .profile-card__social a{
    width: 40px;
    height: 40px;
    margin:10px;
  }
  


}
@media screen and (max-width: 576px) {
  .profile-card__info{
    gap:30px;

  } 
  .profile-card__info div{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
  }
}


